<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CongVaoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CongVaoApp.Properties.Settings>
            <setting name="CongVaoApp_BxVinh_WebSrv_WebService" serializeAs="String">
                <value>http://bxvinh.vn/lib/WebService.asmx</value>
            </setting>
        </CongVaoApp.Properties.Settings>
    </applicationSettings>
</configuration>